<%= turbo_stream.append "messages" do %>
  <%= render partial: "messages/message", locals: { message: @message, local_user: current_user } %>
<% end %>

<%= turbo_stream.replace "new_message_form" do %>
  <%= form_with(model: [@conversation, Message.new], data: { turbo_stream: true }, id: "new_message_form") do |form| %>
    <div class="field">
      <%= form.text_area :body, rows: 3, placeholder: "Type your message..." %>
    </div>
    <div class="actions">
      <%= form.submit "Send" %>
    </div>
  <% end %>
<% end %>

