<br>
<div class="container">
  <div class="mt-5"></div>
  <div class="form-container">

    <h2>Realtor Sign-up</h2>

    <%= form_with model: @user, url: realtor_signup_index_path, local: true, html: { multipart: true } do |form| %>

    <div>
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>                
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
             <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, required: true, class: "form-control w-100", placeholder: "First name" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, required: true, class: "form-control w-100", placeholder: "Last name" %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :email %>
        <%= form.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control w-100", placeholder: "Email" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :contact_no %>
        <%= form.text_field :contact_no, required: true, class: "form-control w-100", placeholder: "Contact no." %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :company_name, "Realty/Company Name" %>
        <%= form.text_field :company_name, required: true, class: "form-control w-100", placeholder: "Realty/Company Name" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :address, "Realty/Company Address" %>
        <%= form.text_field :address, required: true, class: "form-control w-100", placeholder: "Realty/Company Name" %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :prc_no, "PRC ID or Accreditation number" %>
        <div class="mb-4"></div>
        <%= form.text_field :prc_no, required: true, class: "form-control w-100", placeholder: "PRC ID or Accreditation number" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :prc_id, "Upload a picture of your PRC ID/Accreditation or your official PRC receipt" %>
        <%= form.file_field :prc_id, class: "form-control", class: "form-control w-100" %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :dhsud_no, "DHSUD Certificate number" %>
        <%= form.text_field :dhsud_no, required: true, class: "form-control w-100", placeholder: "DHSUD Certificate number" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :dhsud_cert, "Upload a picture of your DHSUD Certificate" %>
        <%= form.file_field :dhsud_cert, class: "form-control", class: "form-control w-100" %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :is_broker, "Are you a Licensed Real Estate Broker?" %><br>
        <%= form.check_box :is_broker, {}, true, false %> Yes
      </div>
    </div>

    <div id="broker-fields" style="display:none;">
      <div class="form-row p-2">
        <div class="col col-md-6 mb-3">
          <%= form.label :broker_name, "Broker's Name" %>
          <%= form.text_field :broker_name, class: "form-control w-100", placeholder: "Broker's Name" %>
        </div>
        <div class="col col-md-6 mb-3">
          <%= form.label :broker_prc_no, "Broker's PRC ID No." %>
          <%= form.text_field :broker_prc_no, class: "form-control w-100", placeholder: "Broker's PRC ID No." %>
        </div>
      </div>
    </div>

    <div class="field p-2 mb-3">
     <%= form.label :gov_id, "To verify your identity, please upload a picture of your government I.D." %>
     <%= form.file_field :gov_id, class: "form-control", class: "form-control w-100" %>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= form.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, required: true, autocomplete: "new-password", class: "form-control w-100", placeholder: "Password" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control w-100", placeholder: "Password" %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Create Account", class: "btn btn-secondary" %>
    </div>
  <% end %>
  <br>
 </div>
</div>
