<div class="container mt-5">
  <h2>Edit Account</h2>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="editTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= 'active' if @tab == 'profile' %>"
         id="profile-tab"
         data-bs-toggle="tab"
         href="#profile"
         role="tab">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link <%= 'active' if @tab == 'account' %>"
         id="account-tab"
         data-bs-toggle="tab"
         href="#account"
         role="tab">Account</a>
    </li>
  </ul>

  <!-- Tab content -->
  <div class="tab-content mt-3">
    <div class="tab-pane fade <%= 'show active' if @tab == 'profile' %>" id="profile" role="tabpanel">
      <%= render "profile_form", resource: resource, resource_name: resource_name %>
    </div>
    <div class="tab-pane fade <%= 'show active' if @tab == 'account' %>" id="account" role="tabpanel">
      <%= render "account_form", resource: resource, resource_name: resource_name %>
    </div>
  </div>
</div>

