<%= form_with(model: @listing, local: true, html: { multipart: true }) do |form| %>
      <% if @listing.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>                
            <ul>
              <% listing.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

    <!-- START OF FORM -->              
      <div class="field p-2">
        <%= form.label :title %><br />
        <%= form.text_field :title, required: true, class: "form-control w-100", placeholder: "Title" %>
      </div>

      <div class="form-row p-2">
         <div class="col col-md-6 mb-3">
          <%= form.label :project_type, "Property type", class: "form-label" %>
          <%= form.select :project_type, options_for_select(Listing.project_types.keys.map { |k| [k.humanize, k] }, selected: form.object.project_type || "corroborated" ), {},class: "form-select" %>
        </div>

        <div class="col col-md-6 mb-3">
          <%= form.label :furnish_type, "Furnish type", class: "form-label" %>
          <%= form.select :furnish_type, options_for_select(Listing.furnish_types.keys.map { |k| [k.humanize, k] }, selected: form.object.furnish_type || "corroborated"), {}, class: "form-select" %>
        </div>
      </div>  

      <div class="form-row p-2">
        <div class="col-12 col-md-4 mb-3">
            <%= form.label :beds, "No. of Bedrooms"  %><br>
            <%= form.number_field :beds, min: 0, step: 1, class: "form-control w-100" %>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <%= form.label :baths, "No. of Toilets & Baths"  %><br>
          <%= form.number_field :baths, min: 0, step: 1, class: "form-control w-100" %>
        </div>
        <div class="col-12 col-md-4 mb-3">
          <%= form.label :sqft, "Floor area"  %><br>
          <%= form.number_field :sqft, min: 0, step: 1, class: "form-control w-100" %>
        </div>
      </div> 

      <div class="form-row p-2">
        <div class="col-12 col-md-5 mb-3">
          <%= form.label :price %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">₱</span>
            </div>
           <%= form.number_field :price, min: 0, step: 0.01, class: "form-control" %>
        </div> 
      </div>

      <div class="col col-md-7 mb-3">
        <div class="ml-2">
        <%= form.label :pagibig_financing, "Financing options available:" %>
        <div class="d-flex">
           <%= form.check_box :pagibig_financing, class: "btn-check", id: "pagibig_financing-check", autocomplete: "off" %>
           <%= form.label :pagibig_financing, "PAGIBIG Financing", class: "btn btn-outline-success mr-1", for: "pagibig_financing-check" %>

           <%= form.check_box :bank_financing, class: "btn-check", id: "bank_financing-check", autocomplete: "off" %>
           <%= form.label :bank_financing, "Bank Financing", class: "btn btn-outline-success mr-1", for: "bank_financing-check" %>

           <%= form.check_box :inhouse_financing, class: "btn-check", id: "inhouse_financing-check", autocomplete: "off" %>
           <%= form.label :inhouse_financing, "In-house Financing", class: "btn btn-outline-success mr-1", for: "inhouse_financing-check" %>
        </div>
        </div>
      </div>
    </div>

    <div class="field p-2">
     <%= form.label :listing_photos, "Upload photos"  %><br>
     <%= form.file_field :listing_photos,  multiple: true, direct_upload: true, class: "form-control w-100", id: "photos_input", accept: "image/*", data: { max_size: 2.megabytes } %>
   </div>

    <div class="field p-2">
      <%= form.label :description %><br />
      <%= form.rich_text_area :description, id: "listing_description", class: "post-textarea trix-limit", data: { max_length: 1500 } %>
      <small class="char-counter text-muted">0/1000 characters</small>
    </div>


    <div class="form-row p-2">
      <div class="col col-md-8 mb-3">
        <%= form.label :address, "Address line"  %><br>
        <%= form.text_field :address, required: true, class: "form-control w-100" %>
      </div>
      <div class="col col-md-4 mb-3">
         <%= form.label :barangay, "Barangay", class: "form-label" %>
          <%= form.select :barangay, options_for_select(Listing.barangays.keys.map { |k| [k.humanize, k] }, selected: form.object.barangay || "corroborated" ), {}, class: "form-select" %>
      </div>
    </div>

    <!-- Map Goes Here -->
    <%= form.hidden_field :latitude, id: "listing_latitude" %>
    <%= form.hidden_field :longitude, id: "listing_longitude" %>

    <div class="p-2">
      <p>Add a marker to the property's location</p>
      <div id="map" style="height:500px;"></div>
    </div>
   
  <div class="container bg-light mt-5 p-5"> 
    <h5>Amenities</h5>
    <p><small><em>Check which applies.</em></small></p>
    <div class="row">
      <% Amenity.unit.each_slice((Amenity.unit.count / 2.0).ceil) do |group| %>
        <div class="col">
          <% group.each do |amenity| %>
            <div class="form-check d-flex">
              <%= check_box_tag "listing[amenity_ids][]", amenity.id,
                  @listing.amenity_ids.include?(amenity.id),
                  id: "listing_amenity_#{amenity.id}",
                  class: "form-check-input" %>

              <%= label_tag "listing_amenity_#{amenity.id}", amenity.label, class: "form-check-label ms-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>  

  <div class="container mt-5 border border-secondary p-4">  
    <h5>Extra Requirements for Independent Listings</h5>
    <p class="small"><em>This is to safeguard all parties for future transactions.</em></p>

    <div class="row">
     <div class="col-12 col-md-6 mb-3">
      <%= form.label :owneralive, "Is the owner alive or not?", class: "form-label d-block" %>

      <div class="form-check form-check-inline">
        <%= form.radio_button :owneralive, true, id: 'owneralive_yes', class: "form-check-input", required: true %>
        <%= form.label :estatetax, "Yes", for: 'owneralive_yes', class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :owneralive, false, id: 'owneralive_no', class: "form-check-input" %>
        <%= form.label :owneralive, "No", for: 'owneralive_no', class: "form-check-label" %>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3">
      <%= form.label :estatetax, "Is the estate tax paid?", class: "form-label d-block" %>

      <div class="form-check form-check-inline">
        <%= form.radio_button :estatetax, true, id: 'estatetax_yes', class: "form-check-input" %>
        <%= form.label :estatetax, "Yes", for: 'estatetax_yes', class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :estatetax, false, id: 'estatetax_no', class: "form-check-input" %>
        <%= form.label :estatetax, "No", for: 'estatetax_no', class: "form-check-label" %>
      </div>
    </div>
   </div>

    <div class="mb-3">
      <%= form.label :ejsprocessed, "If the owner is not alive, is the extrajudicial settlement processed?", class: "form-label d-block" %>

      <div class="form-check form-check-inline">
        <%= form.radio_button :ejsprocessed, true, id: 'ejsprocessed_yes', class: "form-check-input" %>
        <%= form.label :ejsprocessed, "Yes", for: 'ejsprocessed_yes', class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :ejsprocessed, false, id: 'ejsprocessed_no', class: "form-check-input" %>
        <%= form.label :ejsprocessed, "No", for: 'ejsprocessed_no', class: "form-check-label" %>
      </div>
    </div>

     <div class="mb-3">
      <%= form.label :filipinocitizen, "Is the owner a Filipino citizen?", class: "form-label d-block" %>

      <div class="form-check form-check-inline">
        <%= form.radio_button :filipinocitizen, true, id: 'filipinocitizen_yes', class: "form-check-input", required: true %>
        <%= form.label :filipinocitizen, "Yes", for: 'filipinocitizen_yes', class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :filipinocitizen, false, id: 'filipinocitizen_no', class: "form-check-input" %>
        <%= form.label :filipinocitizen, "No", for: 'filipinocitizen_no', class: "form-check-label" %>
      </div>
    </div>

    <div id="nonFilipinoSection" class="container border border-secondary p-3 mb-3" style="display:none;">
      <h6>If not, please provide the following:</h6>
      <div class="field">
        <%= form.label :citizenship, "Citizenship", class: "form-label" %>
        <%= form.select :citizenship, options_for_select(Listing.citizenships.keys.map { |k| [k.humanize, k] }, selected: form.object.citizenship || "corroborated" ), {},class: "form-select" %>
      </div> 

      <div class="field">
        <%= form.label :valid_id, "Valid ID" %><br>
        <%= form.file_field :valid_id, class: "form-control w-100", accept: "image/*", data: { max_size: 200.kilobytes} %>
      </div>

      <div class="field">
        <%= form.label :tin, "Taxpayer Identification Number (TIN)" %><br />
        <%= form.text_field :tin, autofocus: true, autocomplete: "TIN", class: "form-control w-100", placeholder: "TIN" %>
      </div>

      <div class="field">
        <%= form.label :birthcert, "If you don't have a TIN, please upload your birth certificate instead" %><br>
        <%= form.file_field :birthcert, class: "form-control w-100", accept: "image/*", data: { max_size: 200.kilobytes} %>
      </div>
  </div>

    <div class="mb-3">
      <%= form.label :ownerabroad, "Is the owner abroad?", class: "form-label d-block" %>

      <div class="form-check form-check-inline">
        <%= form.radio_button :ownerabroad, true, id: 'ownerabroad_yes', class: "form-check-input", required: true %>
        <%= form.label :ownerabroad, "Yes", for: 'ownerabroad_yes', class: "form-check-label" %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :ownerabroad, false, id: 'ownerabroad_no', class: "form-check-input" %>
        <%= form.label :ownerabroad, "No", for: 'ownerabroad_no', class: "form-check-label" %>
      </div>
    </div>

    <div id="ownerAbroadSection" class="container border border-secondary p-3 mb-3" style="display:none;">
      <h6>If yes, please provide the following:</h6>

      <% if @listing.errors[:spa].present? %>
        <div class="text-danger"><%= @listing.errors[:spa].join(', ') %></div>
      <% end %>

      <div class="field">
        <%= form.label :spa, "Consularized Special Power of Attorney (SPA)" %><br>
        <%= form.file_field :spa, class: "form-control w-100", multiple: true, direct_upload: true, data: { max_files: 2, max_size: 500.kilobytes }, accept: "image/*" %>
      </div>

      <div class="field">
        <%= form.label :aif, "Name of Attorney-in-fact" %><br />
        <%= form.text_field :aif, autofocus: true, autocomplete: "Attorney-in-fact", class: "form-control w-100", placeholder: "Name of attorney-in-fact" %>
      </div>
    </div>


    <% if @listing.errors[:tct].present? %>
      <div class="text-danger"><%= @listing.errors[:tct].join(', ') %></div>
    <% end %>

    <div class="field">
     <%= form.label :tct, "Lastly, please upload at least 4 pages of the certified true copy of the Transfer Certificate of Title (TCT) recently acquired in the last 6 months:"  %><br>
     <%= form.file_field :tct,  multiple: true, class: "form-control w-100", multiple: true, direct_upload: true, data: { max_files: 4, max_size: 1800.kilobytes  }, accept: "image/*" %>
   </div>
 </div>



  <div>
    <%= form.submit "Update Listing", class: "btn btn-secondary float-right mt-4 mb-5 me-2" %>
  </div>

 <% end %>

</div>

<br><br>

<div class="container mt-5">

<h3>Your Attachments</h3>

<% if @listing.listing_photos.attached? %>
  <div class="mb-3">
    <p>Previously uploaded photos:</p>
    <div class="row">
      <% @listing.listing_photos.each do |photo| %>
        <div class="col-md-3">
          <%= image_tag photo, class: "img-thumbnail media", style: "width: 300px;" %>

          <%= form_with url: remove_attachment_listing_path(@listing, attachment_id: photo.id), method: :delete, local: true do %>
            <%= submit_tag "Remove", class: "btn btn-danger btn-sm mt-2", data: { confirm: "Are you sure you want to delete this photo?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @listing.spa.attached? %>
  <div class="mb-3">
    <p>Previously uploaded Special Power of Attorney (SPA):</p>
    <div class="row">
      <% @listing.spa.each do |photo| %>
        <div class="col-md-3">
          <%= image_tag photo, class: "img-thumbnail media", style: "width: 300px;" %>

          <%= form_with url: remove_attachment_listing_path(@listing, attachment_id: photo.id), method: :delete, local: true do %>
            <%= submit_tag "Remove", class: "btn btn-danger btn-sm mt-2", data: { confirm: "Are you sure you want to delete this photo?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @listing.tct.attached? %>
  <div class="mb-3">
    <p>Previously uploaded Transfer Certificate of Title (TCT):</p>
    <div class="row">
      <% @listing.tct.each do |photo| %>
        <div class="col-md-3">
          <%= image_tag photo, class: "img-thumbnail media", style: "width: 300px;" %>

          <%= form_with url: remove_attachment_listing_path(@listing, attachment_id: photo.id), method: :delete, local: true do %>
            <%= submit_tag "Remove", class: "btn btn-danger btn-sm mt-2", data: { confirm: "Are you sure you want to delete this photo?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>


<script>
document.addEventListener("turbo:load", () => {
  const nonFilipinoSection = document.getElementById("nonFilipinoSection");
  const ownerAbroadSection = document.getElementById("ownerAbroadSection");

  function toggleNonFilipino() {
    const val = document.querySelector("input[name='listing[filipinocitizen]']:checked")?.value;
    nonFilipinoSection.style.display = (val === "false") ? "block" : "none";
  }

  function toggleOwnerAbroad() {
    const val = document.querySelector("input[name='listing[ownerabroad]']:checked")?.value;
    ownerAbroadSection.style.display = (val === "true") ? "block" : "none";
  }

  // Attach listeners
  document.querySelectorAll("input[name='listing[filipinocitizen]']").forEach(r => {
    r.addEventListener("change", toggleNonFilipino);
  });

  document.querySelectorAll("input[name='listing[ownerabroad]']").forEach(r => {
    r.addEventListener("change", toggleOwnerAbroad);
  });

  // Run on initial load (edit form / validation errors)
  toggleNonFilipino();
  toggleOwnerAbroad();
});
</script>

