<div class="container mt-5">
  <div class="index-container">
    <% content_for :title, "My Listings" %>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0">My Listings</h2>
      <% if  current_user.approved_realty.present? %>
        <%= link_to "New listing", new_listing_path, class: "btn btn-success" %>
      <% end %>
    </div>

    <% @listings.each do |listing| %>
      <div class="card mb-4">
        <div class="row g-0">
          <% if listing.listing_photos.attached? %>
            <div class="col-md-4">
              <%= image_tag listing.listing_photos.first, class: "img-fluid rounded-start", resize_to_fit: [400, 300] %>
            </div>
          <% else %>
            <div class="col-md-4 d-flex align-items-center justify-content-center bg-light" style="height: 200px;">
                <span class="text-muted">No photo available</span>
            </div>
          <% end %>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <!-- for_edit notification -->
              <% if current_user == listing.realtor && listing.for_edit? %>
                <span class="badge text-bg-warning">Subject for edit</span>
              <% end %>
              <p class="card-text mb-1">
                <strong><%= number_to_currency(listing.price, unit: "₱", precision: 2, delimiter: ",") %></strong><br>
                <i class="bi bi-geo-alt-fill"></i> <%= listing.address %>, <%= listing.barangay %>, Naga City
              </p>
              <div class="d-flex flex-wrap gap-2 mb-3">
                <span class="badge bg-secondary"><%= listing.beds %> Beds</span>
                <span class="badge bg-secondary"><%= listing.baths %> Baths</span>
                <span class="badge bg-secondary"><%= listing.sqft %> Sq. ft.</span>
              </div>
              <div class="d-flex">
                <%= link_to "Show", listing, class: "btn btn-outline-primary btn-sm" %>
                <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-outline-secondary btn-sm ml-1" %>
                <%= button_to "Delete", listing_path(listing), method: :delete, class: "btn btn-danger btn-sm ml-1", data: { confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= paginate @listings, class: "pagination justify-content-center" %>
    
  </div>
</div>
