<div class="container">
  <div class="mt-5"></div>
  <div class="form-container">
    <h2 class="text-center">New Project Listing</h2>
    <%= form_with(model: @listing, local: true, html: { multipart: true }) do |form| %>
        <% if @listing.listing_type == "project" %>
        <% if @listing.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>                
            <ul>
              <% @listing.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

    <!-- START OF FORM -->               
    <div class="field">
     <%= form.hidden_field :listing_type_num, value: 0, readonly: true %>
    </div>
     
      <div class="field p-2">
        <%= form.label :title %><br />
        <%= form.text_field :title, autofocus: true, autocomplete: "title", class: "form-control w-100", placeholder: "Title" %>
      </div>

      <div class="form-row p-2">
        <div class="col col-md-6 mb-3">
            <%= form.label :project_type, "Project type", class: "form-label" %>
            <%= form.select :project_type, options_for_select(Listing.project_types.collect { |s| [s[0].humanize, s[0]] }, selected: Listing.project_types[:corroborated]),{}, class: "form-select" %>
        </div> 
        <div class="col col-md-6 mb-3"> 
            <%= form.label :furnish_type, "Furnish type", class: "form-label" %>
            <%= form.select :furnish_type, options_for_select(Listing.furnish_types.collect { |s| [s[0].humanize, s[0]] }, selected: Listing.furnish_types[:corroborated]),{}, class: "form-select" %>
        </div> 
      </div> 

      <div class="form-row p-2">
        <div class="col col-md-4 mb-3">
            <%= form.label :beds, "No. of Bedrooms"  %><br>
            <%= form.text_field :beds, class: "form-control w-100" %>
        </div>
        <div class="col col-md-4 mb-3">
          <%= form.label :baths, "No. of Toilets & Baths"  %><br>
          <%= form.text_field :baths, class: "form-control w-100" %>
        </div>
        <div class="col col-md-4 mb-3">
          <%= form.label :sqft, "Floor area"  %><br>
          <%= form.text_field :sqft, class: "form-control w-100" %>
        </div>
      </div>  

      <div class="form-row p-2">
        <div class="col col-md-5 mb-3">
          <%= form.label :price %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">₱</span>
            </div>
           <%= form.text_field :price, class: "form-control" %>
        </div> 
      </div>

      <div class="col col-md-7 mb-3">
        <div class="ml-2">
        <%= form.label :pagibig_financing, "Financing options available:" %>
        <div class="d-flex">
           <%= form.check_box :pagibig_financing, class: "btn-check", id: "pagibig_financing-check", autocomplete: "off" %>
           <%= form.label :pagibig_financing, "PAGIBIG Financing", class: "btn btn-outline-success mr-1", for: "pagibig_financing-check" %>

           <%= form.check_box :bank_financing, class: "btn-check", id: "bank_financing-check", autocomplete: "off" %>
           <%= form.label :bank_financing, "Bank Financing", class: "btn btn-outline-success mr-1", for: "bank_financing-check" %>

           <%= form.check_box :inhouse_financing, class: "btn-check", id: "inhouse_financing-check", autocomplete: "off" %>
           <%= form.label :inhouse_financing, "In-house Financing", class: "btn btn-outline-success mr-1", for: "inhouse_financing-check" %>
        </div>
        </div>
      </div>
    </div>

    <div class="field p-2">
     <%= form.label :listing_photos, "Upload photos"  %><br>
     <%= form.file_field :listing_photos, multiple: true, direct_upload: true, class: "form-control w-100", id: "photos_input" %>
    </div>

    <div class="field p-2">
      <%= form.label :description %><br />
      <%= form.rich_text_area :description, id: "listing_description", class: "post-textarea" %>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-8 mb-3">
        <%= form.label :address, "Address line"  %><br>
        <%= form.text_field :address, class: "form-control w-100" %>
      </div>
      <div class="col col-md-4 mb-3">
         <%= form.label :barangay, "Barangay", class: "form-label" %>
            <%= form.select :barangay, options_for_select(Listing.barangays.collect { |s| [s[0].humanize, s[0]] }, selected: Listing.barangays[:corroborated]),{}, class: "form-select" %>
      </div>
    </div>
   
    <div class="container mt-5 bg-light">  
      <div class="p-5">  
       <h5>Amenities</h5>
       <p><small><em>Check which applies.</p></small></em>

      <div class="row">   
       <div class="col"> 
         <div class="form-check d-flex">
          <%= form.label :guardhouse,"Guardhouse", class: "form-check-label" %>
          <%= form.checkbox :guardhouse, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :perimeterfence, "Perimeter fence", class: "form-check-label" %>
          <%= form.checkbox :perimeterfence, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :cctv,"CCTV (Main Areas)", class: "form-check-label"  %>
          <%= form.checkbox :cctv, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :clubhouse,"Clubhouse", class: "form-check-label" %>
          <%= form.checkbox :clubhouse, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :pool, "Community Pool", class: "form-check-label" %>
          <%= form.checkbox :pool, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :coveredcourt,"Basketball Court", class: "form-check-label" %>
          <%= form.checkbox :coveredcourt, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :parks, "Parks & Gardens", class: "form-check-label" %>
          <%= form.checkbox :parks, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :playground, "Playground", class: "form-check-label" %>
          <%= form.checkbox :playground , class: "form-check-input"%>
        </div>

        <div class="form-check d-flex">
          <%= form.label :joggingpaths,"Jogging Paths", class: "form-check-label" %>
          <%= form.checkbox :joggingpaths, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :conveniencestore,"Commercial Area", class: "form-check-label" %>
          <%= form.checkbox :conveniencestore, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :watersystem,"Centralized Water System", class: "form-check-label" %>
          <%= form.checkbox :watersystem, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :drainagesystem,"Drainage System", class: "form-check-label" %>
          <%= form.checkbox :drainagesystem, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :undergroundlines,"Underground Lines", class: "form-check-label" %>
          <%= form.checkbox :undergroundlines, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :wastemgmt,"Waste Management System", class: "form-check-label" %>
          <%= form.checkbox :wastemgmt, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :garden,"Private Garden", class: "form-check-label" %>
          <%= form.checkbox :garden , class: "form-check-input"%>
        </div>

        <div class="form-check d-flex">
          <%= form.label :carport,"Garage", class: "form-check-label" %>
          <%= form.checkbox :carport, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :dirtykitchen,"Dirty Kitchen", class: "form-check-label" %>
          <%= form.checkbox :dirtykitchen, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :gate,"Gate", class: "form-check-label" %>
          <%= form.checkbox :gate, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :watertank,"Personal Water Tank", class: "form-check-label" %>
          <%= form.checkbox :watertank, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :homecctv,"Home Security System", class: "form-check-label" %>
          <%= form.checkbox :homecctv, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :homepool,"Private pool", class: "form-check-label" %>
          <%= form.checkbox :homepool, class: "form-check-input" %>
        </div>
      </div>

      <div class="col"> 
        <div class="form-check d-flex">
          <%= form.label :lanai,"Lanai", class: "form-check-label" %>
          <%= form.checkbox :lanai, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :landscaping,"Landscaping", class: "form-check-label" %>
          <%= form.checkbox :landscaping, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :aircon,"Aircon", class: "form-check-label" %>
          <%= form.checkbox :aircon, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :provaircon,"Provision for Aircon", class: "form-check-label" %>
          <%= form.checkbox :provaircon, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :wardrobes,"Built-in Cabinets", class: "form-check-label" %>
          <%= form.checkbox :wardrobes, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :modkitchen,"Modular Kitchen", class: "form-check-label" %>
          <%= form.checkbox :modkitchen, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :crfixtures,"Bathroom Fixtures", class: "form-check-label" %>
          <%= form.checkbox :crfixtures, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :lightfixtures,"Basic Lighting & Electrical Fixtures", class: "form-check-label" %>
          <%= form.checkbox :lightfixtures, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :firesystem,"Smoke Detectors & Fire Sprinklers", class: "form-check-label" %>
          <%= form.checkbox :firesystem, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :intercom,"Intercom or Video Phone System", class: "form-check-label" %>
          <%= form.checkbox :intercom, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :internetprov,"Provision for Internet", class: "form-check-label" %>
          <%= form.checkbox :internetprov, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :cableprov,"Provision for Cable TV", class: "form-check-label"%>
          <%= form.checkbox :cableprov, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :meterperunit,"Electric & Water Meter per Unit", class: "form-check-label" %>
          <%= form.checkbox :meterperunit, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :washingmachineprov,"Provision for Washing Machine", class: "form-check-label" %>
          <%= form.checkbox :washingmachineprov, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :waterheaterprov,"Water Heater Provision", class: "form-check-label" %>
          <%= form.checkbox :waterheaterprov, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :smarthomeready,"Smart Home Ready", class: "form-check-label"%>
          <%= form.checkbox :smarthomeready, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :balcony,"Balcony", class: "form-check-label" %>
          <%= form.checkbox :balcony, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :cityview,"City View", class: "form-check-label" %>
          <%= form.checkbox :cityview, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :mountainview,"Mountain View", class: "form-check-label" %>
          <%= form.checkbox :mountainview, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :petfriendly,"Pet-Friendly Units", class: "form-check-label" %>
          <%= form.checkbox :petfriendly, class: "form-check-input" %>
        </div>

        <div class="form-check d-flex">
          <%= form.label :facingeast,"Facing East", class: "form-check-label" %>
          <%= form.checkbox :facingeast, class: "form-check-input" %>
        </div>
      </div> 
    </div>     
   </div>  
  </div>  

  <div>
    <%= form.submit "Post Listing", class: "btn btn-secondary float-right mt-3 mb-5" %>
  </div>

   <% end %>
  <% end %>
 </div>
 <div class="mb-5"></div>
 <div class="mb-5"></div>
</div>

<br>
<br>