 <br>

 <%= render partial: "/shared/admin_dashboard" %>

  <div class="container mt-5">
    <h2>Listings Pending for Approval</h2>
    
    <% @pending_listings.each do |listing| %>
      
        <div class="row border border-secondary rounded p-3 my-2">
            <div class="col-4">
              <% if listing.listing_photos.attached? %>
                <%= image_tag url_for(listing.listing_photos.first), class: "img-thumbnail" %>
              <% else %>
                <p>No photo attached</p>
              <% end %>
            </div>
            <div class="col-8 p-2">
              <h4><%= listing.title %></h4>
                <p><i class="bi bi-geo-alt-fill"></i>  <%= listing.address %>, <%= listing.barangay %>, Naga City</p>
                <div class="d-flex">
                  <%= link_to "Show", listing_path(listing), class: "btn btn-outline-success btn-sm mr-1" %>
                  <%= link_to "View Requirements", admin_listing_path(listing), class: "btn btn-outline-secondary btn-sm" %>
                </div>
                <hr width="100%" />
                <div class="d-flex mt-2">
                  <p class="m-1"><small>No. of times this listing been edited or sent for approval: <%= listing.approval_requests_count %></p></small>
                  <%= button_to "Delete", admin_listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" }, class: "btn btn-danger btn-sm ml-3" %>
                </div>
            </div>
          </div>
      
    <% end %>

  <%= paginate @pending_listings, class: "pagination" %>
    
  </div>

