 <br>

 <%= render partial: "/shared/admin_dashboard" %>

<br>

  <div class="p-5">
    <h2>Unapproved Realtors</h2>

    <%= form_with url: managerealtors_users_path, method: :get, local: true, class: "mb-4 d-flex" do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search realtors...", class: "form-control me-2" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <% if @users.any? %>
    <% @users.each do |user| %>
      <div class="p-4 border rounded my-3">
        <h4>Application from <%= user.first_name %> <%= user.last_name %></h4>
      
        <!-- Gallery --> 
        <div class="d-flex flex-wrap gap-2 mb-4 mt-4">
          <div class="image-gallery d-flex flex-wrap gap-2">
            <% attachments = [
              { file: user.prc_id, label: "PRC I.D. or Accreditation" },
              { file: user.dhsud_cert, label: "DHSUD Certificate" },
              { file: user.gov_id, label: "Government I.D" }
            ] %>

            <% attachments.each_with_index do |item, index| %>
              <% file = item[:file] %>
              <% if file.attached? && file.content_type.start_with?("image/") %>
                <div style="flex: 0 0 auto;">
                  <%= image_tag file,
                      class: "img-thumbnail media",
                      style: "width: 200px; height: 200px; object-fit: cover; cursor: pointer;",
                      data: { index: index + 1, description: item[:label] } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Modal -->
        <div id="galleryModal" class="modal" style="display:none; flex-direction:column; align-items:center;">
          <span class="close" onclick="closeModal()">&times;</span>
          <img class="modal-content" id="modalImage">
          <div id="modalCaption" style="margin-top:10px; color:white; text-align:center;"></div>
          <a class="prev" onclick="changeImage(-1)">&#10094;</a>
          <a class="next" onclick="changeImage(1)">&#10095;</a>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-3"><strong>First Name:</strong> <%= user.first_name %></div>
          <div class="col-12 col-md-3"><strong>Last Name:</strong> <%= user.last_name %></div>
          <div class="col-12 col-md-1"><p class="bg-warning text-black d-flex"><strong>User ID:</strong> <%= user.id %></p></div>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-3"><strong>Email:</strong> <%= user.email %></div>
          <div class="col-12 col-md-3"><strong>Contact no.:</strong> <%= user.contact_no %></div>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-3"><strong>PRC ID or Accreditation number:</strong> <%= user.prc_no %></div>
          <div class="col-12 col-md-3"><strong>DHSUD Certificate number</strong> <%= user.dhsud_no %></div>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-3"><strong>Realty</strong> <%= user.company_name %></div>
          <div class="col-12 col-md-3"><strong>Realty/Company Address:</strong> <%= user.address %></div>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-3"><strong>Is user a broker?</strong> <%= user.is_broker? ? "Yes" : "No" %></div>
          <% unless user.is_broker? %>
            <div class="col-12 col-md-3"><strong>Broker Name:</strong> <%= user.broker_name %></div>
            <div class="col-12 col-md-3"><strong>Broker PRC ID No.:</strong> <%= user.broker_prc_no %></div>
          <% end %>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-md-3">
            <strong>Attachment Files:</strong>
            <table class="table">
              <tbody>
                <tr>
                  <td>PRC I.D. or Accreditation</td>
                  <td>
                    <% if user.prc_id.attached? %>
                      <%= link_to "View", url_for(user.prc_id), target: "_blank" %>
                    <% else %>
                      <em>No file uploaded</em>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>DHSUD Certificate</td>
                  <td>
                    <% if user.dhsud_cert.attached? %>
                      <%= link_to "View", url_for(user.dhsud_cert), target: "_blank" %>
                    <% else %>
                      <em>No file uploaded</em>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Government I.D</td>
                  <td>
                    <% if user.gov_id.attached? %>
                      <%= link_to "View", url_for(user.gov_id), target: "_blank" %>
                    <% else %>
                      <em>No file uploaded</em>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="container bg-light rounded p-4 mt-5 mb-3">
          <div class="ms-auto d-flex flex-column">
            <%= form_with model: user, url: approve_user_path(user), method: :patch, local: true do |f| %>
              <div class="row mb-2">
                <div class="col-md-5">
                  <%= f.label :gov_id_type, "Government ID Type", class: "form-label" %>
                  <%= f.select :gov_id_type,
                        ["National ID", "Driver's License", "Passport", "UMID", "PhilHealth ID", "Voter's ID", "Postal ID", "Other"],
                        { prompt: "Select ID Type" },
                        class: "form-select form-select-sm" %>
                </div>
                <div class="col-md-5">
                  <%= f.label :gov_id_last_digits, "Last 4 Digits of ID Number", class: "form-label" %>
                  <%= f.text_field :gov_id_last_digits, maxlength: 4, class: "form-control form-control-sm" %>
                </div>
              </div>

              <div class="d-flex mt-2">
                <%= f.submit "Approve", class: "btn btn-success btn-sm me-2", data: { confirm: "Are you sure you want to approve this user?" } %>
                <%= button_to "Reject", reject_user_path(user),
                      method: :patch,
                      class: "btn btn-danger btn-sm",
                      data: { confirm: "Are you sure you want to reject this user? Their account will be deleted in 24 hours." } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No realtors found.</p>
  <% end %>



  
  <div class="d-flex justify-content-center">
    <%= paginate @users, param_name: :manage_realtors_page %>
  </div>

  <% if @user_counter == 0 %>
    <p>No developers found.</p>
  <% end %>
</div>