<div class="container mt-5">
  <h2 class="mb-3"><%= @user.first_name %>'s Review Feed</h2>

    <% if @events.any? %>
      <% @events.each do |event| %>
        <% if event.review? && !event.read? %>
            <!-- Dismissible alert for new review -->
            <div id="event-<%= event.id %>" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong><%= event.client.first_name %></strong> just left you a review 
                for <%= event.listing.title %>!
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                data-event-id="<%= event.id %>"></button>
            </div>
        <% end %>
     <% end %>
    <% end %>

    <% if @events.any? %>
      <% @events.each do |event| %>
        <div class="card mb-3">
          <div class="card-body">
            <% if event.event_type == "review" %>
            <div class="card-body d-flex align-items-center">
              <div>
                <p>
                  <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="<%= user_path(event.client_id) %>"><strong><%= event.client.first_name %></strong></a> 
                    left a review for you on
                  <%= event.created_at.strftime("%B %d, %Y %I:%M %p") %>
                 </p>

                  <% knowledge = event.review.knowledge_rating.to_i %>
                  <p><strong>Knowledge & Expertise:</strong> <%= '★' * knowledge + '☆' * (5 - knowledge) %></p>

                  <% responsiveness = event.review.responsiveness_rating.to_i %>
                  <p><strong>Responsiveness:</strong> <%= '★' * responsiveness + '☆' * (5 - responsiveness) %></p>

                  <% professionalism = event.review.professionalism_rating.to_i %>
                  <p><strong>Professionalism:</strong> <%= '★' * professionalism + '☆' * (5 - professionalism) %></p>

                  <p><%= event.review.comment %></p>
                </div> 

                <div class="ms-auto">
                <% if event.listing.listing_photos.attached? %>
                  <%= link_to listing_path(event.listing_id), title: "View listing", data: { bs_toggle: "tooltip" } do %>
                    <%= image_tag event.listing.listing_photos.first, class: "rounded", size: "200x200" %>
                  <% end %>
                <% end %>
                </div> 
            </div>  

            <% elsif event.event_type == "assigned" %>
              <p>
                <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="<%= user_path(event.client_id) %>"><strong><%= event.client.first_name %></strong></a>

                is assigned as the client for for <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="<%= listing_path(event.listing_id) %>"><strong><%= event.listing.title %></strong></a>

                on <%= event.created_at.strftime("%B %d, %Y %I:%M %p") %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @reviews.empty? && @events.empty? %>
      <p>No review activity yet.</p>
    <% end %>
  </div>

  <%= paginate @reviews if @reviews.present? %>
  <%= paginate @events if @events.present? %>

</div>
