<h1>Welcome back</h1>
  <h2><%= current_user.first_name %></h2>
  
  <br>

<%= link_to "Manage Users", all_users_users_path, class: "btn btn-light", role: "button" %>
<%= link_to "Approve Realtors", managerealtors_users_path, class: "btn btn-light", role: "button" %>
<%= link_to "Approve Listings", admin_listings_path, class: "btn btn-light", role: "button" %>
<%= link_to "Manage Realties", admin_realties_path, class: "btn btn-light", role: "button" %>
<%= link_to "Create New User", new_admin_user_path, class: "btn btn-info", role: "button" %>