<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
    <%= image_tag "favicon-96x96", alt: "Bahayahay Logo", size: "30x30", class: "me-1" %>
    <div class="nav-item logo-name">Bahayahay</div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Website Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/public_listings">Live Listings</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        </ul>

      <% elsif current_user.developer? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dev_projects">Your Projects</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/model_houses">Your Model Houses</a>
          </li>
          <li class="nav-item mt-1 dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Post New
            </button>
            <ul class="dropdown-menu">
              <%= link_to "Development Project", new_dev_project_path, class: "dropdown-item" %>
              <%= link_to "Model House", new_model_house_path, class: "dropdown-item" %>
            </ul>
          </li>
        </ul>

        <% elsif current_user.rebap? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/public_listings">Explore Homes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/guides/new">Create a Guide</a>
          </li>
          <li class="nav-item mt-1 dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Manage
            </button>
            <ul class="dropdown-menu">
              <%= link_to "Officers", manage_officers_rebaps_path, class: "dropdown-item" %>
              <%= link_to "Active Members", manage_members_rebaps_path, class: "dropdown-item" %>
            </ul>
          </li>
        </ul>


      <% elsif current_user.realtor? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/public_listings">Explore Homes</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/listings">Your Listings</a>
          </li>
          </li>
          <li class="nav-item active">
            <% if current_user&.is_broker? && current_user.managed_realty.blank? %>
              <%= link_to "Apply to Create a Realty", new_realty_path, class: "nav-link" %>
            <% elsif current_user&.is_broker? && current_user.managed_realty.present? %>  
              <%= link_to "Your Realty", realty_path(current_user.managed_realty), class: "nav-link" %>
            <% end %>  
          </li>
          <% if current_user.realtor? && (current_user.is_broker || current_user.realty.present?) %>
            <li class="nav-item active mt-1">
              <a href="/select_type" class="btn btn-secondary btn-sm" role="button">New Listing</a>
            </li>
          <% end %>
        </ul>

      <% elsif current_user.client? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/public_listings">Explore Homes</a>
          </li>
        </ul>
      <% end %>
    <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/public_listings">Explore Homes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/agents">Find an Agent</a>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign up as a Realtor", new_realtor_signup_path, class:"nav-link", data: { turbo: false } %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Log In", new_user_session_path, class:"nav-link" %>
        </li>
        <li class="nav-item active">
          <a href="/users/sign_up" class="btn btn-success me-2" role="button">Sign up</a>
        </li>
      </ul>
    <% end %>

    <% if user_signed_in? && !current_user.admin? %>
      <ul class="navbar-nav ml-lg-auto d-flex flex-column flex-lg-row justify-content-start justify-content-lg-end align-items-start align-items-lg-center">
        <% if current_user.realtor? %>
          <li class="nav-item active mx-2 position-relative">
            <a class="btn btn-light position-relative" href="<%= reviews_user_path(current_user) %>">
              <i class="bi bi-chat-left-quote-fill"></i>
            </a>
          </li>
        <% end %>
        <% if !current_user.client? %>
          <li class="nav-item active mx-2">
            <a class="btn btn-light" href="/guides/my_guides">
              <i class="bi bi-pencil"></i>
            </a>
          </li>
        <% end %>
        <% if current_user.client? || current_user.realtor? %>
          <li class="nav-item active mx-2 position-relative">
            <a class="btn btn-light position-relative" href="/conversations">
              <i class="bi bi-send-fill"></i>
         <!--  <span id="inbox-badge"
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger d-none px-1 py-0"
                style="font-size: 0.75rem; transform: translate(-50%, -30%);">
                0
              </span> -->
            </a>
          </li>
        <% end %>
        <% if current_user.client? %>
          <li class="nav-item active mx-2">
            <a class="btn btn-light" href="/saved_listings">
              <i class="bi bi-floppy2-fill"></i>
            </a>
          </li>

           <li class="nav-item active mx-2 position-relative">
            <a class="btn btn-light position-relative" href="<%= review_events_user_path(current_user) %>">
              <i class="bi bi-chat-left-quote-fill"></i>
            </a>
          </li>
        <% end %>
        <% if current_user.developer? %>
        <li class="nav-item active">
          <%= link_to "Accreditation Requests", developer_requests_accreditations_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item mx-2 dropdown">
          <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Account Settings", edit_user_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
