  <!-- Jumbotron with Overlay -->
<div class="jumbotron jumbotron-fluid position-relative text-white" style="background-image: url(<%= asset_path('realtor-jumbotron.jpg') %>); background-size: cover; background-position: 10% 28%; height: 400px;">
  <!-- Black overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    <div class="container h-100 d-flex flex-column justify-content-center position-relative" style="z-index: 2;">
        <h1 class="display-4">Hello <%= current_user.first_name %>!</h1>
        <h1 class="display-4 mb-4">Match Your Properties with the Perfect Clients.</h1>
    </div>
  </div>
</div>

<div class="container-fluid m-5">
  <div class="index-container container">
  <div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4>Create New a New Listing</h4>
      <%= link_to "Create New", new_listing_path, class: "btn btn-outline-success" %>
    </div>
    <%= render partial: "listings/listing", collection: @listings, as: :listing %>
    <div class="pagination">
      <%= paginate @listings, param_name: :listings_page %>
    </div>
  </div>
</div>
</div>

  <!-- Jumbotron with Overlay -->
<div class="jumbotron jumbotron-fluid position-relative text-white" style="background-image: url(<%= asset_path('documents.jpg') %>); background-size: cover; background-position: center center; height: 400px;">
  <!-- Black overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.6); z-index: 1;"></div>
    <div class="container h-100 d-flex flex-column justify-content-center position-relative" style="z-index: 2;">
        <h1 class="display-4 mb-4">Help Educate Future Homebuyers with Guides.</h1>
    </div>
  </div>
</div>

<div class="container-fluid m-5">
  <div class="index-container container">
    <div class="d-flex justify-content-between align-items-center">
      <h4>Create Your Own Guide</h4>
      <%= link_to "Create New", new_guide_path, class: "btn btn-outline-success" %>
    </div>
    <%= render partial: "guides" %>
</div>
</div>

