<%= stylesheet_link_tag('style') %>

<!-- Jumbotron with Overlay -->
<div class="jumbotron jumbotron-fluid position-relative text-white" style="background-image: url(<%= asset_path('naga5.png') %>); background-size: cover; background-position: 50% 80%;">
  <!-- Black overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4); z-index: 1;"></div>

  <!-- Content -->
  <div class="container h-100 d-flex flex-column justify-content-center position-relative" style="z-index: 2;">
    <h1 class="display-4 mb-4">Ready to find your dream home?</h1>

    <%= form_with url: public_listings_path, method: :get, local: true, class: "row g-2 align-items-end" do %>
      <!-- Keyword -->
      <div class="col-12 col-md-4">
        <%= label_tag :keyword, "Search Properties", class: "form-label" %>
        <%= text_field_tag :keyword, params[:keyword], class: "form-control", placeholder: "Type a keyword..." %>
      </div>

      <!-- Barangay -->
      <div class="col-6 col-md-1">
        <%= label_tag :barangay, "Barangay", class: "form-label" %>
        <%= select_tag :barangay, options_for_select(Listing.barangays.keys.map { |brgy| [brgy.humanize, brgy] }, params[:barangay]), include_blank: "Any", class: "form-select" %>
      </div>

      <!-- Bedrooms -->
      <div class="col-6 col-md-1">
        <%= label_tag :beds, "Bedrooms", class: "form-label" %>
        <%= select_tag :beds, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], ['5+', 5]], params[:beds]), include_blank: "Any", class: "form-select" %>
      </div>

      <!-- Baths -->
      <div class="col-md-1">
        <%= label_tag :baths, "T&B", class: "form-label" %>
        <%= select_tag :baths, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4], ['5+', 5]], params[:baths]), include_blank: "Any", class: "form-select" %>
      </div>


      <!-- Price Range -->
      <% price_options = [
        ['Any', ''], 
        ['₱800k', 800_000], 
        ['₱1M', 1_000_000],
        ['₱2M', 2_000_000], 
        ['₱3M', 3_000_000], 
        ['₱4M', 4_000_000], 
        ['₱5M', 5_000_000], 
        ['₱6M', 6_000_000], 
        ['₱7M', 7_000_000], 
        ['₱8M', 8_000_000], 
        ['₱9M+', 9_000_000]
      ] %>

      <!-- Min Price -->
      <div class="col-6 col-md-1">
        <%= label_tag :min_price, "Min Price", class: "form-label" %>
        <%= select_tag :min_price, options_for_select(price_options, params[:min_price]), class: "form-select" %>
      </div>

      <!-- Max Price -->
      <div class="col-6 col-md-1">
        <%= label_tag :max_price, "Max Price", class: "form-label" %>
        <%= select_tag :max_price, options_for_select(price_options, params[:max_price]), class: "form-select" %>
      </div>

      <!-- Financing Options -->
      <div class="col-12 col-md-4">
        <label class="form-label d-block">Financing Options:</label>
        <div class="form-check form-check-inline">
          <%= check_box_tag :pagibig_financing, true, params[:pagibig_financing].present?, class: "form-check-input" %>
          <%= label_tag :pagibig_financing, "PAGIBIG", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= check_box_tag :bank_financing, true, params[:bank_financing].present?, class: "form-check-input" %>
          <%= label_tag :bank_financing, "Bank", class: "form-check-label" %>
        </div>
        <div class="form-check form-check-inline">
          <%= check_box_tag :inhouse_financing, true, params[:inhouse_financing].present?, class: "form-check-input" %>
          <%= label_tag :inhouse_financing, "In-house", class: "form-check-label" %>
        </div>
      </div>

      <!-- Submit -->
      <div class="col-12 col-md-5 text-md-end text-center">
        <div class="row">
            <div class="col-sm-7">
            </div>
            <div class="col-sm-5">
               <%= submit_tag "Search", class: "btn btn-success w-100" %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Explore Homes Cards -->
<div class="p-2 my-4">
  <%= render partial: "explorehomes" %>
</div>

<!-- Second Jumbotron -->
<%= render partial: "agents_jumbotron" %>

<!-- Guide Cards -->
<div class="p-2 my-4">
  <%= render partial: "guides" %>
</div>