<%= form_with(model: @model_house, local: true, html: { multipart: true }) do |form| %>
        <% if @model_house.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@model_house.errors.count, "error") %> prohibited this model house from being saved:</h2>
            <ul>
              <% @model_house.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

  <!-- START OF FORM --> 
  <div class="field p-2">
    <%= form.label :title %><br />
    <%= form.text_field :title, required: true, autofocus: true, autocomplete: "title", class: "form-control w-100", placeholder: "Title" %>
  </div>

  <div class="form-row p-2">
    <div class="col col-md-6 mb-3">
      <%= form.label :furnish_type, "Furnish type", class: "form-label"  %><br>
      <%= form.select :furnish_type, options_for_select(ModelHouse.furnish_types.keys.map { |k| [k.humanize, k] }, selected: form.object.furnish_type || "corroborated" ), {},class: "form-select" %>
    </div> 
    <div class="col col-md-6 mb-3"> 



    </div> 
  </div> 

    <div class="form-row p-2">
        <div class="col col-md-4 mb-3">
            <%= form.label :beds, "No. of Bedrooms"  %><br>
            <%= form.text_field :beds, required: true, class: "form-control w-100" %>
        </div>
        <div class="col col-md-4 mb-3">
          <%= form.label :baths, "No. of Toilets & Baths"  %><br>
          <%= form.text_field :baths, required: true, class: "form-control w-100" %>
        </div>
        <div class="col col-md-4 mb-3">
          <%= form.label :sqft, "Floor area"  %><br>
          <%= form.text_field :sqft, required: true, class: "form-control w-100" %>
        </div>
      </div> 

    <div class="form-row p-2">
        <div class="col col-md-5 mb-3">
          <%= form.label :price %>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">₱</span>
            </div>
           <%= form.text_field :price, required: true, class: "form-control" %>
        </div> 
      </div>

      <div class="col col-md-7 mb-3">
        <div class="ml-2"> 
        <%= form.label :pagibig_financing, "Financing options available:" %>
        <div class="d-flex">
           <%= form.check_box :pagibig_financing, class: "btn-check", id: "pagibig_financing-check", autocomplete: "off" %>
           <%= form.label :pagibig_financing, "PAGIBIG Financing", class: "btn btn-outline-success mr-1", for: "pagibig_financing-check" %>

           <%= form.check_box :bank_financing, class: "btn-check", id: "bank_financing-check", autocomplete: "off" %>
           <%= form.label :bank_financing, "Bank Financing", class: "btn btn-outline-success mr-1", for: "bank_financing-check" %>

           <%= form.check_box :inhouse_financing, class: "btn-check", id: "inhouse_financing-check", autocomplete: "off" %>
           <%= form.label :inhouse_financing, "In-house Financing", class: "btn btn-outline-success mr-1", for: "inhouse_financing-check" %>
        </div>
        </div>
      </div>
    </div>

  <div class="field p-2">
    <%= form.label :model_photos, "Upload photos"  %><br>
    <%= form.file_field :model_photos, multiple: true, direct_upload: true, class: "form-control w-100",  id: "photos_input", accept: "image/*", data: { max_size: 2.megabytes } %>
  </div>

  <div class="field p-2">
    <%= form.label :description %><br />
    <%= form.rich_text_area :description, id: "model_house_description", class: "post-textarea trix-limit", data: { max_length: 1500 } %>
      <small class="char-counter text-muted">0/1500 characters</small>
  </div>

  <div class="container bg-light mt-5 p-5"> 
    <h5>Amenities</h5>
    <p><small><em>Check which applies.</em></small></p>
    <div class="row">
      <% Amenity.unit.each_slice((Amenity.unit.count / 2.0).ceil) do |group| %>
        <div class="col">
          <% group.each do |amenity| %>
            <div class="form-check d-flex">
              <%= check_box_tag "model_house[amenity_ids][]", amenity.id,
                  @model_house.amenity_ids.include?(amenity.id),
                  id: "model_house_amenity_#{amenity.id}",
                  class: "form-check-input" %>

              <%= label_tag "model_house_amenity_#{amenity.id}", amenity.label, class: "form-check-label ms-2" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>  

  <% if current_user.developer? %>
    <div class="my-3">
      <%= form.label :dev_project_id, "Development Project", class: "form-label fw-semibold" %>
      <%= form.collection_select :dev_project_id, current_user.dev_projects, :id, :title, 
          { prompt: "Select Development Project" },
          { class: "form-select rounded shadow-sm" } %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Post Model House", class: "btn btn-secondary float-right mt-3 mb-5" %>
  </div>
 <% end %>




