<div id="<%= dom_id model_house %>">
  <p>
    <strong>Title:</strong>
    <%= model_house.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model_house.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= model_house.price %>
  </p>

  <p>
    <strong>Inherit amenities:</strong>
    <%= model_house.inherit_amenities %>
  </p>

  <p>
    <strong>Furnish type:</strong>
    <%= model_house.furnish_type %>
  </p>

  <p>
    <strong>Guardhouse:</strong>
    <%= model_house.guardhouse %>
  </p>

  <p>
    <strong>Perimeterfence:</strong>
    <%= model_house.perimeterfence %>
  </p>

  <p>
    <strong>Cctv:</strong>
    <%= model_house.cctv %>
  </p>

  <p>
    <strong>Clubhouse:</strong>
    <%= model_house.clubhouse %>
  </p>

  <p>
    <strong>Pool:</strong>
    <%= model_house.pool %>
  </p>

  <p>
    <strong>Coveredcourt:</strong>
    <%= model_house.coveredcourt %>
  </p>

  <p>
    <strong>Parks:</strong>
    <%= model_house.parks %>
  </p>

  <p>
    <strong>Playground:</strong>
    <%= model_house.playground %>
  </p>

  <p>
    <strong>Joggingpaths:</strong>
    <%= model_house.joggingpaths %>
  </p>

  <p>
    <strong>Conveniencestore:</strong>
    <%= model_house.conveniencestore %>
  </p>

  <p>
    <strong>Watersystem:</strong>
    <%= model_house.watersystem %>
  </p>

  <p>
    <strong>Drainagesystem:</strong>
    <%= model_house.drainagesystem %>
  </p>

  <p>
    <strong>Undergroundlines:</strong>
    <%= model_house.undergroundlines %>
  </p>

  <p>
    <strong>Wastemgmt:</strong>
    <%= model_house.wastemgmt %>
  </p>

  <p>
    <strong>Garden:</strong>
    <%= model_house.garden %>
  </p>

  <p>
    <strong>Carport:</strong>
    <%= model_house.carport %>
  </p>

  <p>
    <strong>Dirtykitchen:</strong>
    <%= model_house.dirtykitchen %>
  </p>

  <p>
    <strong>Gate:</strong>
    <%= model_house.gate %>
  </p>

  <p>
    <strong>Watertank:</strong>
    <%= model_house.watertank %>
  </p>

  <p>
    <strong>Homecctv:</strong>
    <%= model_house.homecctv %>
  </p>

  <p>
    <strong>Homepool:</strong>
    <%= model_house.homepool %>
  </p>

  <p>
    <strong>Lanai:</strong>
    <%= model_house.lanai %>
  </p>

  <p>
    <strong>Landscaping:</strong>
    <%= model_house.landscaping %>
  </p>

  <p>
    <strong>Aircon:</strong>
    <%= model_house.aircon %>
  </p>

  <p>
    <strong>Provaircon:</strong>
    <%= model_house.provaircon %>
  </p>

  <p>
    <strong>Wardrobes:</strong>
    <%= model_house.wardrobes %>
  </p>

  <p>
    <strong>Modkitchen:</strong>
    <%= model_house.modkitchen %>
  </p>

  <p>
    <strong>Crfixtures:</strong>
    <%= model_house.crfixtures %>
  </p>

  <p>
    <strong>Lightfixtures:</strong>
    <%= model_house.lightfixtures %>
  </p>

  <p>
    <strong>Firesystem:</strong>
    <%= model_house.firesystem %>
  </p>

  <p>
    <strong>Intercom:</strong>
    <%= model_house.intercom %>
  </p>

  <p>
    <strong>Internetprov:</strong>
    <%= model_house.internetprov %>
  </p>

  <p>
    <strong>Cableprov:</strong>
    <%= model_house.cableprov %>
  </p>

  <p>
    <strong>Meterperunit:</strong>
    <%= model_house.meterperunit %>
  </p>

  <p>
    <strong>Washingmachineprov:</strong>
    <%= model_house.washingmachineprov %>
  </p>

  <p>
    <strong>Waterheaterprov:</strong>
    <%= model_house.waterheaterprov %>
  </p>

  <p>
    <strong>Smarthomeready:</strong>
    <%= model_house.smarthomeready %>
  </p>

  <p>
    <strong>Balcony:</strong>
    <%= model_house.balcony %>
  </p>

  <p>
    <strong>Cityview:</strong>
    <%= model_house.cityview %>
  </p>

  <p>
    <strong>Mountainview:</strong>
    <%= model_house.mountainview %>
  </p>

  <p>
    <strong>Petfriendly:</strong>
    <%= model_house.petfriendly %>
  </p>

  <p>
    <strong>Facingeast:</strong>
    <%= model_house.facingeast %>
  </p>

</div>
