<div id="<%= dom_id dev_project %>">
  <p>
    <strong>Title:</strong>
    <%= dev_project.title %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= dev_project.property_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dev_project.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= dev_project.address %>
  </p>

</div>
