<br>
<div class="container devise-box">
  <h1>Edit User Information</h1>

  <%= form_with model: @user, url: user_management_path(@user), method: :patch, local: true do |form| %>

    <div class="field">
        <%= form.label :email %><br />
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-25", placeholder: "Email" %>
      </div>

        <div class="field">
          <%= form.label :first_name %><br />
          <%= form.text_field :first_name, class: "form-control w-25", placeholder: "First name" %>
        </div>

      <div class="field">
        <%= form.label :last_name %><br />
        <%= form.text_field :last_name, class: "form-control w-25", placeholder: "Last name" %>
      </div>

      <div class="field">
        <%= form.label :contact_no %><br />
        <%= form.text_field :contact_no, class: "form-control w-25", placeholder: "Contact no." %>
      </div>

      <div class="field">
        <%= form.label :address %><br />
        <%= form.text_field :address, class: "form-control w-25", placeholder: "Address" %>
      </div>

        <div class="field">
          <%= form.label :company_name %><br />
          <%= form.text_field :company_name, class: "form-control w-25", placeholder: "Company Name" %>
        </div>

      <% if @user.realtor? %> 
        <div>
          <%= form.label :admin_approved %><br />
          <%= form.check_box :admin_approved %>
        </div>

        <div class="field">
          <%= form.label :prc_no, "PRC I.D. No. or Accreditation No." %><br />
          <%= form.text_field :prc_no, class: "form-control w-25", placeholder: "PRC Details" %>
        </div>
        
        <% if @user.prc_id.attached? %>
          <%= image_tag @user.prc_id, class: "img-thumbnail", size: "150x150" %>
        <% else %>
          <p>User has no PRC ID.</p>
        <% end %>

        <div class="field">
          <%= form.label :dhsud_no, "DHSUD Certificate No." %><br />
          <%= form.text_field :dhsud_no, class: "form-control w-25", placeholder: "DHSUD Certificate No." %>
       </div>
      <% end %>

      <% if @user.dhsud_cert.attached? %>
          <%= image_tag @user.dhsud_cert, class: "img-thumbnail", size: "150x150" %>
      <% else %>
          <p>User has no DHSUD Certificate.</p>
      <% end %>
      <br>
      <p> Government ID </p>
      <% if @user.gov_id.attached? %>
          <%= image_tag @user.gov_id, class: "img-thumbnail", size: "150x150" %>
      <% else %>
          <p>User has no Government ID.</p>
      <% end %>

     <div class="field">
        <%= form.label :password %> (Leave blank if not changing)
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= form.password_field :password, autocomplete: "new-password", class: "form-control w-25", placeholder: "Password" %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-25", placeholder: "Password" %>
      </div>

    <br>  
    <div>
      <%= form.submit "Update User", class: "btn btn-secondary"  %>
    </div>

  <% end %>

</div>
<br>  