<br>
<% if current_user&.admin? %>

<%= render partial: "/shared/admin_dashboard" %>

<br>
<div class="manager-search-bar">
<%= form_with url: user_management_index_path, method: :get, local: true, class: "form-inline d-flex mb-3" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search developers...", class: "form-control me-2" %>
  <%= submit_tag "Search", class: "btn btn-outline-primary" %>
<% end %>
</div>
<br>

<br>
<h1>All Developers</h1>

<%= link_to "New User", new_user_management_path, class: "btn btn-secondary my-1" %> <br>

<table class="table table-striped-columns"> 
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact No.</th>
          <th>Company Name</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <% if user.developer? %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.contact_no %></td>
            <td><%= user.company_name %></td>
            <td><%= user.address %></td>
            <td><%= link_to "Edit", edit_user_management_path(user), class: "btn btn-light" %></td>
            <td><%= button_to "Delete", user_management_path(user), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "btn btn-danger my-1" %></td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>

<% end %>