<div class="container">
  <div class="mt-5"></div>
  <div class="form-container">

    <h2>Create New User</h2>

    <%= form_with model: @user, url: user_management_index_path, local: true do |f| %>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control w-100", placeholder: "First name" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control w-100", placeholder: "Last name" %>
      </div>
    </div>

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-100", placeholder: "Email" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= f.label :contact_no %>
        <%= f.text_field :contact_no, class: "form-control w-100", placeholder: "Contact no." %>
      </div>
    </div>

    <div class="field p-2 mb-3">
      <%= f.label :user_type, "User type", class: "form-label"  %>
      <%= f.select :user_type, options_for_select(User.user_types.collect { |s| [s[0].humanize, s[0]] }, selected: User.user_types[:corroborated]),{}, class: "form-select" %>
    </div>  

    <div class="form-row p-2">
      <div class="col col-md-6 mb-3">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control w-100", placeholder: "Password" %>
      </div>
      <div class="col col-md-6 mb-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control w-100", placeholder: "Password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Create Account", class: "btn btn-secondary p-2 mb-3" %>
    </div>
  <% end %>

 </div>
 <div class="mb-5"></div>
</div>